language: node_js

node_js:
  - '0.10'

sudo: false

install:
  - travis_retry npm install node-qunit-phantomjs jscs
  - travis_retry npm install jshint

script:
  - ./node_modules/jshint/bin/jshint .
  - ./node_modules/jscs/bin/jscs .
  - ./node_modules/node-qunit-phantomjs/bin/node-qunit-phantomjs ./tests/index.html
